@charset "utf-8";

@font-face {
  font-family: 'WANDOHOPEB.TTF';
  src: url(../css/font/WANDOHOPEB.TTF);
}

/* 웹폰트 */

@font-face {
  font-family: 'Tenada';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');


* {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  color: #333333;
  font-family: 'Gowun Batang', serif;
}

body {
  width: 1200px;
  background-color: #ffffff;
  font-size: 20px;
  /* border: 1px solid red; */
}

a {
  text-decoration: none;
  display: block;
}
#gallery{
  margin: 10px;
}
#wrapperbx{
width: 750px;
}
#desc_wrap{
margin-top: 20px;
 width: 750px;
 height: 350px; 
}
.desc{
  width: 750px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 25px;
  margin-top: 15px;
  padding: 10px;
}
#desc_wrap>h1{
margin-bottom: 30px;  
}
.desc_by{
  float: right;
}
header {
  /* 상단 높이 */
  height: 100px;
  /* 상단 너비 */
  width: 1000px;
}

/* .logo와 .menu를 묶어줌 */
.top {
  /* 상단 로고와 메뉴가 들어가는 곳 높이 */
  height: 100px;
  /* 상단 로고와 메뉴가 들어가는 곳 너비 */
  width: 1200px;
}

/* 로고 영역 스타일 적용 */
.logo {
  float: left;
  /* 로고 영역 높이 */
  height: 100px;
  /* 로고 영역 너비 */
  width: 180px;
}

.logo img {
  float: left;
  height: 40px;
  width: 150px;
  margin-top: 30px;
  margin-left: 25px;
}

.menu {
  float: left;
  height: 100px;
  width: 800px;
  z-index: 1;
}

.navi {
  float: right;
  margin-top: 30px;
  margin-right: 10px;
}

.navi>li {
  float: left;
}

.navi>li>a {
  height: 35px;
  width: 180px;
  line-height: 35px;
  font-size: 16px;
  text-align: center;
  background-color: #0066ad;
  color: #ffffff;
  cursor: pointer;
}

.navi>li>a:hover {
  background-color: #30a3f3;
  font-weight: 700;

}
.sign {
  width: 750px;
  height: 100px;
  margin-inline-start: auto;
}

a {
  font-size: 10px;
  cursor: pointer;
}

a:hover {
  font-size: 10px;
}


.submenu {
  width: 180px;
  position: absolute;
  display: none;
  z-index: 1;
}

.submenu>li>a {
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: #ababab;
  color: #ffffff;
}

.submenu>li>a:hover {
  background-color: #30a3f3;
}

/* .imgslide와 .contents 묶어줌 */
.bodywrap {
  /* .imgslide 높이 300px + .contents 높이 200px */
  /* .imgslide 너비, contents 너비; */
  width: 1000px;
  height: 1050px;
}

img {
  width: 1000px;
  max-height: max-content;
}

footer {
  /* 하단 높이 */
  height: 100px;
  /* 하단 너비 */
  width: 1000px;
  background-color: #48487d;
}

.copy {
  float: left;
  /* Copyright 높이 */
  height: 100px;
  /* Copyright 너비 */
  width: 500px;
  text-align: center;
  font-size: 16px;
  line-height: 100px;
  color: #ffffff;
}

/* .btmenu와 .familysite 묶어줌 */
.site {
  float: right;
  /* 하단 메뉴(.btmenu)와 패밀리 사이트(.familysite) 들어가는 곳 높이 */
  height: 100px;
  /* 하단 메뉴(.btmenu)와 패밀리 사이트(.familysite) 들어가는 곳 너비 */
  width: 500px;
}

.btmenu {
  float: right;
  /* 하단 메뉴 높이(site 높이의 1/2) */
  height: 50px;
  /* 하단 메뉴 너비 */
  width: 300px;
  text-align: center;
  font-size: 16px;
  line-height: 50px;
}
/* BT MENU SVG활용  */
svg{
  display: inline-block;
}

.btmenu li>a { 
  float: left;
  width: 15px;
  display: inline;
  color: #ffffff; 
  margin-bottom: 5px;
  margin-top: 7px; 
  padding: 10px;
}
.btmenu li {display: inline; margin: 0 2px;}
.btmenu li a {
    position: relative; 
    background-color: #a3a3d6d0; 
    border-radius: 50%; 
    width: 35px;
    margin-left: 25px;
    margin-right: 10px;
    height: 25px; 
    color: #fff;  
    display: 
    inline-block; 
    font-size: 10px; 
    line-height: 20px; 
    transition: all 0.3s ease;
}
.btmenu li a span {
    position: absolute; 
    left: 50%; top: -40px; 
    transform: translateX(-50%); 
    font-size: 12px; 
    line-height: 1.6; 
    background: #fabd43; 
    padding: 3px 9px; 
    border-radius: 6px 0; 
    opacity: 0; 
    transition: all 0.3s ease;
}
.btmenu li a span:before {
    content:''; 
    position: absolute; 
    left: 50%; bottom: -5px; 
    margin-left: -5px; 
    border-top: 5px solid #ffffffad; 
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent;
}
.btmenu li a:hover span {
    opacity: 1; 
    top: -33px;
}
.btmenu li a:hover {
    box-shadow: 
        0 0 0 4px rgba(255, 255, 255, 0.554) inset, 
        0 0 0 100px rgba(0, 0, 0, 0.423) inset;
}

.familysite {
  float: right;
  /* 패밀리 사이트 높이(site 높이의 1/2) */
  height: 40px;
  /* 패밀리 사이트 너비 */
  width: 300px;
}

.familysite select {
  float: right;
  height: 30px;
  width: 280px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 14px;
}

