@charset "utf-8";

@font-face {
    font-family: 'WANDOHOPEB.TTF';
    src: url(../css/font/WANDOHOPEB.TTF);
}

/* 웹폰트 */

@font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');


* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    color: #333333;
    font-family: 'Gowun Batang', serif;
}

body {
    width: 1000px;
    background-color: #ffffff;
    font-size: 20px;
    /* border: 1px solid red; */
}

a {
    text-decoration: none;
    display: block;
}

/* 레이어 팝업창(#modal) 배경 스타일 적용 */
#layer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: none;
}

#layer.active {
    display: block;
}

/* 레이어 팝업창 스타일 적용 */
.layer_up {
    width: 500px;
    height: 400px;
    position: fixed;
    left: 30%;
    top: 20%;
    background-color: #ffffff;
}

.uptitle {
    margin-top: 50px;
    text-align: center;
    line-height: 16px;
    font-size: 25px;
    font-family: 'Tenada';
}

.upbody {
    padding: 70px;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Tenada';
}

.btn {
    height: 30px;
    width: 100px;
    cursor: pointer;
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Gowun Dodum', sans-serif;
    border-radius: 3px;
    background: #fabd43;
    position: absolute;
    right: 200px;
    bottom: 40px;
    line-height: 30px;
}

header {
    /* 상단 높이 */
    height: 100px;
    /* 상단 너비 */
    width: 1000px;
}

/* .logo와 .menu를 묶어줌 */
.top {
    /* 상단 로고와 메뉴가 들어가는 곳 높이 */
    height: 200px;
    /* 상단 로고와 메뉴가 들어가는 곳 너비 */
    width: 1200px;
}

/* 로고 영역 스타일 적용 */
.logo {
    float: left;
    /* 로고 영역 높이 */
    height: 100px;
    /* 로고 영역 너비 */
    width: 180px;
}

.logo img {
    float: left;
    height: 40px;
    width: 150px;
    margin-top: 30px;
    margin-left: 25px;
}

.menu {
    float: left;
    height: 200px;
    width: 800px;
    z-index: 1;
}

.navi {
    float: right;
    margin-top: 30px;
    margin-right: 10px;
}

.navi>li {
    float: left;
}

.navi>li>a {
    height: 35px;
    width: 180px;
    line-height: 35px;
    font-size: 16px;
    text-align: center;
    background-color: #0066ad;
    color: #ffffff;
    cursor: pointer;
}

.navi>li>a:hover {
    background-color: #30a3f3;
    font-weight: 700;
}

.submenu {
    width: 180px;
    position: absolute;
    display: none;
    z-index: 1;
}

.submenu>li>a {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background-color: #ababab;
    color: #ffffff;
}

.submenu>li>a:hover {
    background-color: #30a3f3;
}

/* .imgslide와 .contents 묶어줌 */
#bodywrap {
    /* .imgslide 높이 300px + .contents 높이 200px */
    height: 700px;
    /* .imgslide 너비, contents 너비; */
    width: 1000px;
}

.imgslide {
    /* 이미지 슬라이드 높이 */
    height: 500px;
    /* 이미지 슬라이드 너비 */
    width: 1000px;
    /* 이미지 슬라이드 영역 제한 */
    position: relative;
    /* 영역 밖으로 보이지 않도록 제한 */
    overflow: hidden;
}

.imgslide>a {
    display: block;
    position: absolute;
}

.imgtext {
    height: 50px;
    width: 500px;
    position: absolute;
    margin: -25px 0 0 -250px;
    left: 50%;
    top: 50%;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    line-height: 50px;
    background-color: rgba(40, 40, 40, 0.5);
}


.contents {
    /* 콘텐츠(공지사항 notice, 갤러리 gallery, 바로가기 shortcut) 높이 */
    height: 200px;
    /* 콘텐츠(공지사항 notice, 갤러리 gallery, 바로가기 shortcut) 너비 */
    width: 1000px;
}

.notice {
    float: left;
    height: 180px;
    width: 390px;
    margin-top: 10px;
}

.tab {
    float: left;
    width: 400px;
}

.tab h4 {
    float: left;
    height: 20px;
    width: 120px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background-color: #fabd43;
}

.notice>div {
    width: 390px;
    border-bottom-color: #fabd43;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

/* 공지사항(.notice) 콘텐츠 영역 스타일 적용 */
.notice li {
    float: left;
    height: 38px;
    width: 390px;
    line-height: 38px;
    font-size: 14px;
}

.notice li span {
    float: right;
}

/* 공지사항(.notice) 2배수(2n) 요소 배경 스타일 적용 */
.notice li:nth-child(2n) {
    background-color: #fabd43;
}

/* 공지사항(.notice) 콘텐츠에 마우스를 올릴 때 스타일 적용 */
.notice li:hover {
    font-weight: bold;
}

.gallery {
    float: left;
    height: 180px;
    width: 390px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.gallery>div {
    width: 390px;
    border-bottom-color: #fabd43;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

/* 갤러리(.gallery) 콘텐츠 영역 스타일 적용 */
.gallery li {
    float: left;
    margin-top: 10px;
    margin-left: 4px;
}

/* 갤러리(.gallery) 콘텐츠 이미지 영역 스타일 적용 */
.gallery img {
    height: 145px;
    width: 125px;
}

/* 갤러리(.gallery) 콘텐츠에 마우스를 올릴 때 스타일 적용 */
.gallery li:hover {
    opacity: 0.5;
}

.shortcut {
    float: right;
    height: 180px;
    width: 200px;
    margin-top: 10px;
}

.shortcut img {
    float: right;
    height: 180px;
    width: 200px;
}

.sctext {
    float: right;
    height: 30px;
    width: 100px;
    position: absolute;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    line-height: 30px;
    background-color: rgba(40, 40, 40, 0.5);
    margin-top: 80px;
    margin-left: 50px;
}

.sctext:hover {
    opacity: 0.5;
}

footer {
    /* 하단 높이 */
    height: 110px;
    /* 하단 너비 */
    width: 1000px;
    background-color: #48487d;
}

.copy {
    float: left;
    /* Copyright 높이 */
    height: 100px;
    /* Copyright 너비 */
    width: 500px;
    text-align: center;
    font-size: 16px;
    line-height: 100px;
    color: #ffffff;
}

/* .btmenu와 .familysite 묶어줌 */
.site {
    float: right;
    /* 하단 메뉴(.btmenu)와 패밀리 사이트(.familysite) 들어가는 곳 높이 */
    height: 100px;
    /* 하단 메뉴(.btmenu)와 패밀리 사이트(.familysite) 들어가는 곳 너비 */
    width: 500px;
}

/* BT MENU SVG활용  */
svg {
    display: inline-block;
}

.btmenu li>a {
    float: right;
    width: 15px;
    display: inline;
    color: #ffffff;
    margin-bottom: 5px;
    margin-top: 7px;
    padding: 10px;
}

.btmenu li {
    display: inline;
    margin: 0 2px;
}

.btmenu li a {
    position: relative;
    background-color: #a3a3d6d0;
    border-radius: 50%;
    width: 35px;
    margin-left: 25px;
    margin-right: 25px;
    height: 25px;
    color: #fff;
    display:
        inline-block;
    font-size: 10px;
    line-height: 20px;
    transition: all 0.3s ease;
}

.btmenu li a span {
    position: absolute;
    left: 50%;
    top: -40px;
    transform: translateX(-50%);
    font-size: 12px;
    line-height: 1.6;
    background: #fabd43;
    padding: 3px 9px;
    border-radius: 6px 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.btmenu li a span:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    margin-left: -5px;
    border-top: 5px solid #ffffffad;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.btmenu li a:hover span {
    opacity: 1;
    top: -33px;
}

.btmenu li a:hover {
    box-shadow:
        0 0 0 4px rgba(255, 255, 255, 0.554) inset,
        0 0 0 100px rgba(0, 0, 0, 0.423) inset;
}

.familysite {
    float: right;
    /* 패밀리 사이트 높이(site 높이의 1/2) */
    height: 40px;
    /* 패밀리 사이트 너비 */
    width: 300px;
}

.familysite select {
    float: right;
    height: 30px;
    width: 280px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 14px;
}